@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
        primary: #e0e0e0, // The primary color of your brand
        accent: #63574b
));

@import "~vue-material/dist/theme/all"; // Apply the theme

body{
  color: #63574b;
  background: #eeeced;
}
.md-app:not(.md-overlap).md-theme-default{
  background: #eeeced!important;
}
.md-title{
  max-width: 35%;
}
#main-logo{
  width: 100%;
  max-width: 345px;
}
.md-app{
  height: 100vh;
}
.md-app-content{
  padding: 0!important;
  border: 0px!important;
}

.scrolleable{
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-bottom-bar{
  background: #000!important;
  color: #fff;
  padding: 10px;
  height: 40px;
  margin-top: -40px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  z-index: 9;
  position: absolute;
  bottom: 0;
}

.custom-bottom-bar p{
  color: #fff!important;
}

p{
  margin: 0;
  color: #63574b;
}

.full-height{
  height: 100%;
}

input[type=text],
input[type=email],
textarea{
  width: 100%;
  max-width: 350px;
  background: #F5F2F4;
  border: 1px solid #b4b2b3;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 10px;
}


input[type=text],
input[type=email]{
  height: 40px;
}

textarea{
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-app-scroller{
  overflow: hidden;
}

.custom-button{
  background: #eeeced!important;
  border: 1px solid #63574b!important;
  color: #63574b!important;
}

.md-icon-button{
  border: 1px solid #63574b!important;
}

.md-icon-button.no-border{
  border: 0px!important;
}

.md-content.md-theme-default{
  background: #eeeced;
}

.paginas-container{
  max-height: 200px;
}

/* Capítulo */
.capitulo-title{
  background: #fff;
}

.swiper-button-prev,
.swiper-button-next{
  top: 50%!important;
  background: none!important;
  width: auto!important;
  height: auto!important;
}
.swiper-button-prev{
  left: 1%!important;
}
.swiper-button-next{
  right: 1%!important;
}

.swiper-button-first,
.swiper-button-last{
  position: absolute;
  top: 51%!important;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9;
  width: 72px;
  height: 72px;
  text-align: center;
  padding-top: 18px;
}

.swiper-button-first{
  left: 1%;
}
.swiper-button-last{
  right: 1%;
}

@media all and (max-width: 1500px){
  .swiper-button-first,
  .swiper-button-last{
    top: 56%!important;
  }
}

@media all and (min-width: 1501px){
  .swiper-button-first,
  .swiper-button-last{
    top: 56%!important;
  }
}

.swiper-pagination-custom{
  bottom: 70px!important;
}

.custom-pagination-number,
.page-number{
  position: absolute;
  bottom: 50px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

.left.page-number{
  left: 10px;
}
.right.page-number{
  right: 10px;
}

.custom-button{
  font-size: 13px!important;
  min-width: 150px!important;
  height: 40px!important;
}

.breadcrumb-item{
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
}

.resultados-container{
  margin-top: 90px;
}

#home{
  .swiper-button-prev{
    left: 10px!important;
  }
  .swiper-button-next{
    right: 10px!important;
  }
}

@media all and (max-width: 480px){
  #home{
    .swiper-button-prev{
      left: 0px!important;
    }
    .swiper-button-next{
      right: 0px!important;
    }
  }
  #main-logo{
    width: 100%;
  }
  main.md-scrollbar{
    overflow-x: hidden;
  }
  .paginas-container{
    max-height: 100%!important;
  }
  .md-app-scroller{
    overflow-y: scroll;
    margin-top: 56px!important;
  }
  .md-topbar-buscador{
    position: relative!important;
  }
  .cantidad-resultados{
    padding-left: 0!important;
  }
  .resultados-container{
    margin-top: 0px;
  }
  .md-topbar-buscador{
    position: absolute;
  }
  .md-topbar-capitulos{
    padding: 0 10px!important;
  }
  .breadcrumb{
    text-align: center;
  }
  .swiper-button-prev, .swiper-button-next{
    margin-top: -50px;
    top: 50%!important;
  }
}

.print-page-container{
  .page-container{
    img{
      height: auto!important;
    }
    .swiper-lazy-preloader{
      display: none;
    }
  }
}

.__image-zoom__image{
  max-width: initial!important;
}

.__image-zoom__button{
  color: #000!important;
  text-shadow: none!important;
  border: 2px solid #878787 !important;
  background: #fff!important;
}