<template>
    <div class="page">
        <div class="md-layout md-layout-item md-xsmall-size-100 md-topbar-buscador">
            <div class="md-layout md-layout-item md-xsmall-size-100 md-gutter md-alignment-top-center">
                <div class="md-layout-item">
                    <input type="text" :placeholder="getPlaceholder()" v-model="busqueda"/>
                </div>
            </div>
            <div class="md-layout md-gutter md-alignment-top-right md-xsmall-size-100">
                <md-button class="custom-button" @click="back()">
                    <span v-if="idioma.abreviacion == 'ES'">< VOLVER</span>
                    <span v-if="idioma.abreviacion == 'EN'">< RETURN</span>
                </md-button>
            </div>
        </div>

        <div class="md-layout md-layout-item md-xsmall-size-100 md-gutter md-alignment-top-center">
            <div class="md-layout-item md-xsmall-size-100 md-size-70 md-layout md-gutter md-alignment-top-center resultados-container">
                <div class="cantidad-resultados md-scrollbar" v-if="resultadosPaginas.length">
                    <p>
                        <span v-if="idioma.abreviacion == 'ES'">RESULTADOS DE TU BÚSQUEDA</span>
                        <span v-if="idioma.abreviacion == 'EN'">SEARCH RESULTS</span>

                    </p>
                    <p>
                        <strong v-if="idioma.abreviacion == 'ES'">ENCONTRAMOS {{ resultadosPaginas.length }} COINCIDENCIAS PARA "{{ busqueda }}"</strong>
                        <strong v-if="idioma.abreviacion == 'EN'">WE FOUND {{ resultadosPaginas.length }} COINCIDENCES FOR "{{ busqueda }}"</strong>
                    </p>
                </div>
                <div class="cantidad-resultados" v-if="!resultadosPaginas.length && busqueda != '' && busqueda != null">
                    <p>
                        <span v-if="idioma.abreviacion == 'ES'">NO HAY RESULTADOS DE BÚSQUEDA PARA <strong>"{{ busqueda }}"</strong></span>
                        <span v-if="idioma.abreviacion == 'EN'">NO RESULTS FOUND FOR <strong>"{{ busqueda }}"</strong></span>
                    </p>
                </div>
                <div class="md-layout-item md-xsmall-size-100 md-size-100" v-for="(pagina, index) in resultadosPaginas" :key="index">
                    <h4 @click="seleccionarPagina(pagina)" class="pagina-texto">{{ pagina.titulo }}</h4>
                    <p @click="seleccionarPagina(pagina)" class="pagina-titulo" v-html="resultReplace(pagina.texto)"></p>
                    <hr>
                </div>
            </div>
            <div class="md-layout-item md-size-50">
                <img class="md-alignment-top-right" :src="paginaSeleccionada.imagen" v-if="paginaSeleccionada != null">
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .md-topbar-buscador{
        top: 0;
        width: 100%;
        padding: 15px 5%;
    }
    .page{
        position: relative;
    }
    .cantidad-resultados{
        padding-left: 20px;
    }
    .pagina-texto,
    .pagina-titulo{
        cursor: pointer;
    }
    .resultados-container{
        overflow-y: scroll;
        max-height: 750px;
    }
</style>

<script>
    export default {
        name: 'TodasPaginas',
        mixins: [window.myMixin],
        data: () => ({
            paginas: [],
            busqueda: null,
            paginaSeleccionada: null,
            idioma: null
        }),
        methods: {
            seleccionarPagina(pagina){
                var app = this;
                var orden = pagina.orden;
                var url = '/capitulos/'+pagina.capitulo_id+'/paginas/';
                if(pagina.orden) url += orden;
                app.$router.push(url);
            },
            getPlaceholder(){
                var app = this;
                if(app.idioma.abreviacion == 'ES'){
                    return 'INGRESE SU BÚSQUEDA';
                }
                if(app.idioma.abreviacion == 'EN'){
                    return 'WRITE YOUR SEARCH';
                }
            },
            resultReplace(texto){
                var app = this;
                var chars = 25;
                var startResult = texto.toLowerCase().indexOf(app.busqueda.toLowerCase());
                var startCut;
                var endCut;

                if(startResult <= chars) {
                    startCut = 0;
                } else {
                    startCut = startResult - chars;
                }

                if((startResult + app.busqueda.length + chars) > texto.length) {
                    endCut = texto.length - 1;
                } else {
                    endCut = startResult + app.busqueda.length + chars;
                }

                var subString = '';
                if(startCut != 0) {
                    subString += '[...] ';
                }
                subString += texto.substring(startCut, endCut);
                subString += ' [...]';

                var regEx = new RegExp(app.busqueda, "ig");
                //var replaceMask = '<strong style="background: #b3b3b3;color: black;"><u>'+app.busqueda+'</u></strong>';

                return subString.replace(regEx, match => {
                    return '<strong style="background: #b3b3b3;color: black;"><u>' + match + '</u></strong>';
                });

                //return subString.replace(regEx, replaceMask);

                //return subString.replace(app.busqueda, '<strong style="background: #b3b3b3;color: black;"><u>'+app.busqueda+'</u></strong>');
            },
            back() {
                var app = this;
                if(app.$route.params.pagina !== undefined) {
                    app.$router.push('/capitulos/'+app.$route.params.id+'/paginas/'+app.$route.params.pagina);
                } else {
                    app.$router.back();
                }
            }
        },
        computed: {
            resultadosPaginas: function () {
                var app = this;
                return app.paginas.filter(function (pagina) {
                    if(app.busqueda != null && app.busqueda != '')
                        return pagina.texto.toLowerCase().indexOf(app.busqueda.toLowerCase()) != -1
                    return false;
                })
            }
        },
        beforeMount(){
            var app = this;

            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idioma = resp.data.current;

                    axios.get(app.baseUrl + '/capitulos/'+app.$route.params.id+'/paginas')
                        .then(function (resp) {
                            for(var x = 0; x < resp.data.anteriores.length; x++){
                                app.paginas = app.paginas.concat([{
                                    capitulo_id: resp.data.anteriores[x].id,
                                    orden: 0,
                                    titulo: (app.idioma.abreviacion == 'ES' ? resp.data.anteriores[x].texto_espanol : resp.data.anteriores[x].texto_ingles),
                                    texto: (app.idioma.abreviacion == 'ES' ? resp.data.anteriores[x].texto_espanol : resp.data.anteriores[x].texto_ingles),
                                }]);
                                app.paginas = app.paginas.concat(resp.data.anteriores[x].paginas);
                            }

                            app.paginas = app.paginas.concat([{
                                capitulo_id: resp.data.capitulo.id,
                                orden: 0,
                                titulo: (app.idioma.abreviacion == 'ES' ? resp.data.capitulo.texto_espanol : resp.data.capitulo.texto_ingles),
                                texto: (app.idioma.abreviacion == 'ES' ? resp.data.capitulo.texto_espanol : resp.data.capitulo.texto_ingles),
                            }]);
                            app.paginas = app.paginas.concat(resp.data.capitulo.paginas);

                            for(var y = 0; y < resp.data.siguientes.length; y++){
                                app.paginas = app.paginas.concat([{
                                    capitulo_id: resp.data.siguientes[y].id,
                                    orden: 0,
                                    titulo: (app.idioma.abreviacion == 'ES' ? resp.data.siguientes[y].texto_espanol : resp.data.siguientes[y].texto_ingles),
                                    texto: (app.idioma.abreviacion == 'ES' ? resp.data.siguientes[y].texto_espanol : resp.data.siguientes[y].texto_ingles),
                                }]);
                                app.paginas = app.paginas.concat(resp.data.siguientes[y].paginas);
                            }
                        })
                        .catch(error => {
                            console.log("Error");
                            console.log(error);
                        });

                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });


        }
    }
</script>
