<template>
    <div class="capitulo-container">
        <div class="preloader" v-show="preloading">
            <md-progress-spinner md-mode="indeterminate" class="preloader-progress-spinner"></md-progress-spinner>
        </div>
        <div class="md-layout md-gutter md-alignment-center tomo-menu">
            <div class="md-layout md-layout-item md-alignment-top-right md-gutter">
                <div class="md-layout-item md-layout md-xsmall-size-50 md-small-size-50 md-medium-size-70 md-large-size-70 md-xlarge-size-70">

                    <div class="md-layout-item md-xsmall-size-100 md-small-size-50 md-medium-size-20 md-size-20">
                        <md-button class="md-icon-button" @click="goToBuscador($route.params.id)"  :title="getTitle('buscador')">
                            <img :src="mainUrl + '/storage/app/public/general/icono_busqueda.png'" />
                        </md-button>
                        <md-button class="md-icon-button" to="/" :title="getTitle('capitulos')">
                            <img :src="mainUrl + '/storage/app/public/general/icono_menu.png'" />
                        </md-button>
                    </div>

                    <div class="md-layout-item md-xsmall-hide md-small-hide breadcrumb">
                        <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'ES'" @click="$router.push('/tomos/'+capitulo.tomo.id+'/capitulos')">{{ capitulo.tomo.nombre_espanol }}</span>
                        <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'EN'" @click="$router.push('/tomos/'+capitulo.tomo.id+'/capitulos')">{{ capitulo.tomo.nombre_ingles }}</span>
                        <md-icon>keyboard_arrow_right</md-icon>
                        <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'ES'">{{ titulo_current_espanol }}</span>
                        <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'EN'">{{ titulo_current_ingles }}</span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </div>

                </div>
                <div class="md-layout-item md-xsmall-size-50 md-small-size-50 md-layout md-gutter md-alignment-top-right">
                    <md-button class="md-icon-button" @click="openDownloadDialog" :title="getTitle('descarga')">
                        <img :src="mainUrl + '/storage/app/public/general/icono_descarga.png'" />
                    </md-button>
                    <md-button class="md-icon-button" @click="fullScreen" :title="getTitle('fullscreen')" v-if="!fullscreenData">
                        <img :src="mainUrl + '/storage/app/public/general/icono_fullscreen.png'" />
                    </md-button>
                </div>
            </div>
        </div>

        <div class="md-layout-item md-medium-hide md-large-hide md-xlarge-hide breadcrumb">
            <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'ES'" @click="$router.push('/tomos/'+capitulo.tomo.id+'/capitulos')">{{ capitulo.tomo.nombre_espanol }}</span>
            <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'EN'" @click="$router.push('/tomos/'+capitulo.tomo.id+'/capitulos')">{{ capitulo.tomo.nombre_ingles }}</span>
            <md-icon>keyboard_arrow_right</md-icon>
            <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'ES'">{{ capitulo.titulo_espanol }}</span>
            <span class="breadcrumb-item" v-if="idiomas.current.abreviacion == 'EN'">{{ capitulo.titulo_ingles }}</span>
            <md-icon>keyboard_arrow_right</md-icon>
        </div>

        <div class="swiper-module-container">
            <swiper :options="swiperOption" ref="mySwiper" @slideChange="updateCurrentPage">

                <swiper-slide
                        v-for="(pagina, index) in paginas"
                        :key="index"
                        :empty="pagina.is_empty ? 'true' : 'false'"
                        :pagina_id="pagina.id"
                        :is_portada="pagina.is_titulo === true"
                        :capitulo_id="pagina.capitulo_id"
                        :titulo_espanol="pagina.titulo_espanol"
                        :titulo_ingles="pagina.titulo_ingles"
                        :orden="pagina.orden"
                >

                    <div class="md-layout swiper-slide-inner md-layout-item md-alignment-top-right" v-if="pagina.is_titulo === true">
                        <div class="md-layout md-layout-item page-container page-image md-alignment-top-right">
                            <img :id="'page-text-'+pagina.capitulo_id" class="page-text animated slideInLeft" :src="mainUrl + pagina.imagen_titulo" @click="zoom(mainUrl + pagina.imagen_titulo)" style="right: 0;"  v-if="idiomas.current.abreviacion == 'ES'" />
                            <img :id="'page-text-'+pagina.capitulo_id" class="page-text animated slideInLeft" :src="mainUrl + pagina.imagen_titulo_ingles" @click="zoom(mainUrl + pagina.imagen_titulo_ingles)" style="right: 0;"  v-if="idiomas.current.abreviacion == 'EN'" />
                        </div>
                    </div>

                    <div class="md-layout swiper-slide-inner md-layout-item md-alignment-top-left" v-if="pagina.is_portada === true">
                        <div class="md-layout md-layout-item page-container page-image md-alignment-top-left">
                            <img class="swiper-lazy" :src="mainUrl + pagina.imagen" @click="zoom(mainUrl + pagina.imagen)" style="left: 0;" />
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                    </div>

                    <div class="md-layout swiper-slide-inner"
                         v-bind:class="bindClass(index) ? 'md-alignment-top-left' : 'md-alignment-top-right'"
                         v-if="pagina.is_empty === true">
                        <div class="md-layout md-layout-item page-container page-image">
                            <div class="md-layout"
                                 v-bind:class="bindClass(index) ? 'md-alignment-top-left' : 'md-alignment-top-right'">

                                <!--<img class="swiper-lazy" :src="mainUrl + '/storage/app/public/tomos/capitulo_title_background.jpg'" :style="bindClass(index) ? 'left:0' : 'right:0'" />-->
                                    <img class="swiper-lazy" :src="mainUrl + '/storage/app/public/tomos/01_imagen_de_un_pais/00_comienzo/es/00000001.jpg'" :style="bindClass(index) ? 'left:0' : 'right:0'" />
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                            </div>
                        </div>
                    </div>

                    <div class="md-layout swiper-slide-inner"
                         v-bind:class="bindClass(index) ? 'md-alignment-top-left' : 'md-alignment-top-right'"
                         v-if="pagina.is_titulo === undefined && pagina.is_portada === undefined && pagina.is_empty === undefined"
                    >
                        <div class="md-layout md-layout-item page-container page-image">
                            <div class="md-layout-item"
                                 v-bind:class="bindClass(index) ? 'md-alignment-top-left' : 'md-alignment-top-right'">
                                <img
                                    class="md-layout-item swiper-lazy"
                                    :src="mainUrl + pagina.imagen" @click="zoom(pagina.imagen)"
                                    :style="bindClass(index) ? 'left:0' : 'right:0'"/>
                                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

                            </div>

                        </div>
                    </div>

                </swiper-slide>

            </swiper>

        </div>

        <div class="swiper-button-prev" slot="button-prev" :title="getTitle('btn_prev')">
            <md-icon class="md-size-3x">keyboard_arrow_left</md-icon>
        </div>
        <div class="swiper-button-next" slot="button-next" :title="getTitle('btn_next')">
            <md-icon class="md-size-3x">keyboard_arrow_right</md-icon>
        </div>

        <div class="swiper-button-first" @click="first()" :title="getTitle('btn_first')">
            <img :src="mainUrl + '/storage/app/public/general/first_icon.png'" alt="First" />
        </div>
        <div class="swiper-button-last" @click="last()" :title="getTitle('btn_last')">
            <img :src="mainUrl + '/storage/app/public/general/last_icon.png'" alt="Last" />
        </div>

        <md-dialog :md-active.sync="showDialog">
            <md-dialog-title>Descargar páginas</md-dialog-title>

            <md-dialog-content>
                <div class="md-layout">
                    <div class="md-layout md-layout-item md-alignment-top-right print-page-container" v-html="modalContentLeft"></div>
                    <div class="md-layout md-layout-item md-alignment-top-left print-page-container" v-html="modalContentRight"></div>
                </div>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button style="color: #000;" class="md-primary" @click="showDialog = false">Cerrar</md-button>
                <md-button class="md-primary md-raised" @click="downloadPages">Descargar</md-button>
            </md-dialog-actions>
        </md-dialog>

    </div>
</template>

<style lang="scss" scoped>

    .preloader {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
    }

    .preloader-progress-spinner {
        top: 45%;
        left: 45%;
        position: absolute;
    }

    .swiper-container{
        width: 100%;
        max-width: 75%;
    }
    .tomo-menu{
        background: #d3c5a8;
        padding: 10px;
    }
    .breadcrumb{
        padding-top: 10px;
    }
    .md-dialog {
        width: 100%;
        max-width: 768px;
    }
    .md-dialog-content{
        overflow-y: hidden;
        background: #eeeced;
    }
    .md-dialog .swiper-slide{
        width: 50%!important;
    }
    .page-container{
        position: relative;
        height: -webkit-fill-available;
    }
    .swiper-slide{
        height: -webkit-fill-available;
    }
    .swiper-slide img{
        top: -1px;
        width: auto;
        max-height: calc(100% - 60px);
        position: absolute;
    }
    .page-container .md-button-content img{
        position: relative!important;
        height: auto!important;
    }
    .page-image{
        top: 0;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: top right!important;
        //height: 80vh;
        z-index: 1;
        overflow: hidden;
        position: relative;
    }
    .page-text{
        position: relative;
        z-index: 2;
        width: 100%;
        top: 25%;
        font-size: 28px;
    }
    .swiper-module-container{
        max-width: 100%;
        margin: 0 auto;
    }

    /* Image Zoom */
    .__image-zoom__img-outer-container,
    .__image-zoom__scale-container {
        display: none!important;
    }

    .capitulo-container,
    .swiper-module-container,
    .swiper-container,
    .swiper-wrapper,
    .swiper-slide,
    .swiper-slide-inner,
    .page-container{
        height: 100%;
    }

    @media all and (max-width: 480px){
        .page-container{
            width: 100%;
            max-width: 100%;
        }
        .swiper-container .page-container img{
            top: 10%;
            height: auto!important;
            max-width: 90%;
        }
        .page-image{
            max-width: 100%;
            background: transparent;
        }
        .page-text{
            font-size: 16px;
        }

        .main-swiper-container{
            width: 75%;
        }
        .swiper-container{
            width: 100%;
        }

    }
    @media all and (min-width: 1400px){
        .swiper-container{
            width: 100%;
            max-width: 95%;
        }

        .page-image{
            max-height: 88vh;
            /*height: 100%;*/
        }
        .swiper-slide img{
            max-height: 100%;
            height: -webkit-fill-available;
        }
        .page-image .md-alignment-top-right img{
            float: right;
        }
    }

    @media all and (max-width: 800px){
        .swiper-slide img{
            left: 0!important;
            right: 0!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }
        .page-container{
            max-width: 100%;
        }
        .page-image{
            background: transparent;
            width: 100%;
        }
    }

</style>

<script>
    export default {
        name: 'Tomo',
        mixins: [window.myMixin],
        data: () => ({
            preloading: true,
            swiperOption: {
                slidesPerView: 2,
                slidesPerColumn: 1,
                slidesPerGroup: 2,
                lazy: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },
                breakpoints: {
                    800: {
                        slidesPerView: 1,
                        slidesPerColumn: 1,
                        slidesPerGroup: 1,
                    }
                },
                keyboard: {
                    enabled: true
                },
                mousewheel: true
            },

            paginas: [],
            capitulos: [],
            showDialog: false,
            modalContentLeft: null,
            modalContentRight: null,
            paginasParaImprimir: [],
            capitulo: null,
            idiomas: null,
            inicio: 0,

            titulo_current_espanol: null,
            titulo_current_ingles: null,

            titulos: [],
            indices: {},

            ultimoCapitulo: null,

            fullscreenData: false
        }),
        methods: {
            openDownloadDialog(){
                var app = this;

                var activeSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex];
                var nextSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex + 1];

                app.paginasParaImprimir = [];

                var activeSlideId = activeSlide.getAttribute('pagina_id');

                if(activeSlideId != null){
                    app.paginasParaImprimir.push(activeSlideId);
                } else {
                    var activeSlideEmpty = activeSlide.getAttribute('empty');
                    if(activeSlideEmpty == 'true'){
                        app.paginasParaImprimir.push('empty');
                    } else {
                        var activeSlideCapituloId = activeSlide.getAttribute('capitulo_id');
                        if (activeSlideCapituloId != null) {
                            app.paginasParaImprimir.push('portada-' + activeSlideCapituloId);
                        }
                    }
                }

                app.modalContentLeft = activeSlide.outerHTML.replace('animated', '');

                if(nextSlide !== null){
                    var activeSlideId = nextSlide.getAttribute('pagina_id');

                    if(activeSlideId != null){
                        app.paginasParaImprimir.push(activeSlideId);
                    } else {
                        var activeSlideEmpty = nextSlide.getAttribute('empty');
                        if(activeSlideEmpty == 'true'){
                            app.paginasParaImprimir.push('empty');
                        } else {
                            var activeSlideCapituloId = nextSlide.getAttribute('capitulo_id');
                            if (activeSlideCapituloId != null) {
                                app.paginasParaImprimir.push('portada-' + activeSlideCapituloId);
                            }
                        }
                    }

                    app.modalContentRight = nextSlide.outerHTML.replace('animated', '');
                }

                app.showDialog = true;
            },
            downloadPages(){
                var app = this;
                document.location.href = app.baseUrl + '/imprimirPaginas/' + app.paginasParaImprimir[0] + '/' + app.paginasParaImprimir[1];
            },
            fullScreen(){
                var app = this;
                var elem = document.getElementsByTagName("body");
                elem = elem[0];
                var isFullscreen = app.isFullscreen();
                if(!isFullscreen) {
                    if (elem.requestFullscreen) {
                        elem.requestFullscreen();
                    } else if (elem.mozRequestFullScreen) { /* Firefox */
                        elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                        elem.webkitRequestFullscreen();
                    } else if (elem.msRequestFullscreen) { /* IE/Edge */
                        elem.msRequestFullscreen();
                    }
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else {
                        console.log("Outeando el full No");
                    }
                }
            },
            updateCurrentPage(){
                var app = this;

                var activeSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex];
                var nextSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex + 1];

                if(activeSlide != null && activeSlide != undefined) {

                    var capitulo_id = activeSlide.getAttribute('capitulo_id');

                    app.titulo_current_espanol = app.titulos[capitulo_id].titulo_espanol;
                    app.titulo_current_ingles = app.titulos[capitulo_id].titulo_ingles;

                    var elems = document.querySelectorAll(".page-text");

                    [].forEach.call(elems, function (el) {
                        el.classList.remove('animated');
                        el.classList.remove('slideInLeft');
                    });

                    if (activeSlide.getAttribute('is_portada') == 1 || activeSlide.getAttribute('is_portada') == "true") {

                        var textActive = document.getElementById('page-text-' + activeSlide.getAttribute('capitulo_id'));

                        setTimeout(function () {
                            textActive.classList.add('animated');
                            textActive.classList.add('slideInLeft');
                        }, 100);

                    } else {

                        var activeSlideId = activeSlide.getAttribute('pagina_id');
                        var nextSlideId = nextSlide.getAttribute('pagina_id');

                        if (activeSlide !== undefined && nextSlide !== undefined) {
                            const parsed = JSON.stringify([activeSlideId, nextSlideId]);
                            localStorage.setItem('currentPages', parsed);
                        } else {
                            var isPortada = activeSlide.getAttribute('is_portada');
                            if (isPortada == 'true' || isPortada == 1) {
                                localStorage.setItem('currentPages', [1, 2]);
                            }
                        }

                    }
                }
            },
            bindClass(key){
                var app = this;
                var plus = 0;

                return (key % 2) + plus;
            },
            getMaxWidth(id){
                var app = this;
                var image = document.getElementById('image-'+id);
            },
            getTextClass(id){
                var app = this;
                var currentPages = JSON.parse(localStorage.getItem("currentPages"));

                if(currentPages.indexOf(id) !== -1){
                    return 'animated slideInLeft';
                }

                return '';
            },
            first(){
                var app = this;
                var activeSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex];
                console.log("Active slide");
                console.log(activeSlide);
                var current_capitulo_id = activeSlide.getAttribute('capitulo_id');

                app.$refs.mySwiper.swiper.slideTo(app.indices["capitulo_"+current_capitulo_id]);
            },
            last(){
                var app = this;
                var activeSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex];
                var current_capitulo_id = activeSlide.getAttribute('capitulo_id');

                console.log(app.ultimoCapitulo + '==' + current_capitulo_id);

                if(app.ultimoCapitulo == current_capitulo_id){
                    console.log("Último capítulo");
                    app.$refs.mySwiper.swiper.slideTo(app.$refs.mySwiper.swiper.slides.length - 1);
                } else {
                    console.log("No es último");
                    var capitulo_id = null;
                    var founded = false;

                    for (var key in app.indices) {
                        if (founded) {
                            capitulo_id = key;
                            break;
                        }
                        if (key.replace('capitulo_', '') == current_capitulo_id) {
                            founded = true;
                        }
                    }

                    app.$refs.mySwiper.swiper.slideTo(app.indices[capitulo_id] - 2);
                }
            },
            getTitle(action){
                var app = this;
                if(app.idiomas != null) {
                    switch (action) {
                        case 'buscador':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Buscar';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Search';
                            }
                            break;
                        case 'capitulos':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Menú principal';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Main menu';
                            }
                            break;
                        case 'descarga':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Descargar';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Download';
                            }
                            break;
                        case 'fullscreen':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Página completa';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Fullscreen';
                            }
                            break;

                        case 'btn_prev':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Página anterior';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Previous page';
                            }
                            break;
                        case 'btn_next':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Página siguiente';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Next page';
                            }
                            break;
                        case 'btn_first':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Primera página';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'First page';
                            }
                            break;
                        case 'btn_last':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Última página';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Last page';
                            }
                            break;
                    }
                }
            },
            zoom(path){
                var app = this;

                var appArray = path.split('/');
                var originUrl = '';
                for(var x = 0; x < appArray.length; x++){
                    if(x == appArray.length - 1){
                        originUrl += 'originales/' + appArray[x];
                    } else {
                        originUrl += appArray[x] + '/';
                    }
                }

                app.$zoom(app.mainUrl + originUrl, {
                    allowZoom: true,
                    autoScale: false,
                    closeOnClickModal: false,
                });

                setTimeout(function () {
                    var plus = document.getElementsByClassName('__image-zoom__scaleButton-r')[0];
                    plus.click();

                    var closeButtons = document.getElementsByClassName('__image-zoom__close-button');

                    if (app.idiomas.current.abreviacion == 'ES') {
                        closeButtons[0].setAttribute('title', 'Abrir en nueva pestaña');
                        closeButtons[1].setAttribute('title', 'Cerrar');
                    }
                    if (app.idiomas.current.abreviacion == 'EN') {
                        closeButtons[0].setAttribute('title', 'Open in new window');
                        closeButtons[1].setAttribute('title', 'Close');
                    }

                    var zoomImageContainer = document.getElementsByClassName('__image-zoom__img-inner-container')[0];
                    var zoomNumbersContainer = document.getElementsByClassName('__image-zoom__scale-container')[0];

                    zoomImageContainer.style.display = 'block!important';
                    zoomNumbersContainer.style.display = 'block!important';

                }, 100);


            },
            isFullscreen(){
                return (document.fullscreenElement && document.fullscreenElement !== null) ||
                    (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
                    (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
                    (document.msFullscreenElement && document.msFullscreenElement !== null);
            },
            goToBuscador(id) {
                var app = this;

                var activeSlide = app.$refs.mySwiper.swiper.slides[app.$refs.mySwiper.swiper.activeIndex];
                var current_capitulo_id = activeSlide.getAttribute('capitulo_id');

                var orden = activeSlide.getAttribute('orden');

                app.$router.push('/capitulos/'+current_capitulo_id+'/buscador/'+orden);
            }
        },
        computed: {
            swiper() {
                var app = this;
                return app.$refs.mySwiper;
            }
        },
        beforeMount(){
            var app = this;

            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idiomas = resp.data;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });

            axios.get(this.$data.baseUrl + '/capitulos/'+app.$route.params.id)
                .then(function (resp) {
                    app.capitulo = resp.data;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });

            axios.get(this.$data.baseUrl + '/capitulos/'+app.$route.params.id+'/paginas')
                .then(function (resp) {
                    var cont = 0;
                    for(var x = 0; x < resp.data.anteriores.length; x++){
                        app.indices["capitulo_"+resp.data.anteriores[x].id] = cont;

                        app.titulos[resp.data.anteriores[x].id] = {
                            titulo_espanol: resp.data.anteriores[x].titulo_espanol,
                            titulo_ingles: resp.data.anteriores[x].titulo_ingles,
                        };
                        app.paginas = app.paginas.concat({
                            is_titulo: true,
                            capitulo_id: resp.data.anteriores[x].id,
                            titulo_espanol: resp.data.anteriores[x].titulo_espanol,
                            titulo_ingles: resp.data.anteriores[x].titulo_ingles,
                            imagen_titulo: resp.data.anteriores[x].imagen_titulo,
                            imagen_titulo_ingles: resp.data.anteriores[x].imagen_titulo_ingles,
                            texto_espanol: resp.data.anteriores[x].texto_espanol,
                            texto_ingles: resp.data.anteriores[x].texto_ingles,
                            orden: resp.data.anteriores[x].orden,
                        });
                        app.paginas = app.paginas.concat({
                            is_empty: true,
                        });

                        if(cont % 2 == 1){
                            cont += 1;
                            app.paginas = app.paginas.concat({
                                is_empty: true,
                            });
                        }
                        app.paginas = app.paginas.concat(resp.data.anteriores[x].paginas);

                        cont += parseInt(resp.data.anteriores[x].paginas.length) + 2;

                        if(resp.data.anteriores[x].paginas.length % 2 != 0){
                            cont += 1;
                            app.paginas = app.paginas.concat({
                                is_empty: true,
                            });
                        }
                    }

                    if(!cont){
                        app.inicio = cont;
                    } else {
                        app.inicio = cont + 2;
                    }

                    app.titulo_current_espanol = resp.data.capitulo.titulo_espanol;
                    app.titulo_current_ingles = resp.data.capitulo.titulo_ingles;

                    app.indices["capitulo_"+resp.data.capitulo.id] = cont;

                    app.titulos[resp.data.capitulo.id] = {
                        titulo_espanol: resp.data.capitulo.titulo_espanol,
                        titulo_ingles: resp.data.capitulo.titulo_ingles,
                    };

                    app.paginas = app.paginas.concat({
                        is_titulo: true,
                        capitulo_id: resp.data.capitulo.id,
                        titulo_espanol: resp.data.capitulo.titulo_espanol,
                        titulo_ingles: resp.data.capitulo.titulo_ingles,
                        imagen_titulo: resp.data.capitulo.imagen_titulo,
                        imagen_titulo_ingles: resp.data.capitulo.imagen_titulo_ingles,
                        texto_espanol: resp.data.capitulo.texto_espanol,
                        texto_ingles: resp.data.capitulo.texto_ingles,
                        orden: resp.data.capitulo.orden,
                    });
                    app.paginas = app.paginas.concat({
                        is_empty: true,
                    });

                    if(cont % 2 == 1){
                        cont += 1;
                        app.paginas = app.paginas.concat({
                            is_empty: true,
                        });
                    }

                    app.paginas = app.paginas.concat(resp.data.capitulo.paginas);


                    if(resp.data.capitulo.paginas.length % 2 != 0){
                        cont += 1;
                        app.paginas = app.paginas.concat({
                            is_empty: true,
                        });
                    }

                    cont += parseInt(resp.data.capitulo.paginas.length) + 2;

                    if(resp.data.capitulo.paginas.length % 2 != 0){
                        cont += 1;
                        app.paginas = app.paginas.concat({
                            is_empty: true,
                        });
                    }

                    var primera_pagina = resp.data.capitulo.paginas[0].orden;
                    app.ultimoCapitulo = resp.data.capitulo.id;

                    for(var y = 0; y < resp.data.siguientes.length; y++){
                        app.ultimoCapitulo = resp.data.siguientes[y].id;

                        app.titulos[resp.data.siguientes[y].id] = {
                            titulo_espanol: resp.data.siguientes[y].titulo_espanol,
                            titulo_ingles: resp.data.siguientes[y].titulo_ingles,
                        };

                        app.indices["capitulo_"+resp.data.siguientes[y].id] = cont;

                        app.paginas = app.paginas.concat({
                            is_titulo: true,
                            capitulo_id: resp.data.siguientes[y].id,
                            titulo_espanol: resp.data.siguientes[y].titulo_espanol,
                            titulo_ingles: resp.data.siguientes[y].titulo_ingles,
                            imagen_titulo: resp.data.siguientes[y].imagen_titulo,
                            imagen_titulo_ingles: resp.data.siguientes[y].imagen_titulo_ingles,
                            texto_espanol: resp.data.siguientes[y].texto_espanol,
                            texto_ingles: resp.data.siguientes[y].texto_ingles,
                            orden: resp.data.siguientes[y].orden,
                        });

                        app.paginas = app.paginas.concat({
                            is_empty: true,
                        });

                        if(cont % 2 == 1){
                            cont += 1;
                            app.paginas = app.paginas.concat({
                                is_empty: true,
                            });
                        }

                        app.paginas = app.paginas.concat(resp.data.siguientes[y].paginas);


                        if(resp.data.siguientes[y].paginas.length % 2 != 0){
                            cont += 1;
                            app.paginas = app.paginas.concat({
                                is_empty: true,
                            });
                        }

                        cont += parseInt(resp.data.siguientes[y].paginas.length) + 2;

                    }

                    /* Saco el preload y switcheo a la página */
                    var pagina = 0;
                    var paginaFinal = 0;

                    if(app.$route.params.pagina !== undefined) {
                        var pagina = app.$route.params.pagina;
                        paginaFinal = parseInt(pagina) - parseInt(primera_pagina) + 2;
                    }

                    var slide = parseInt(app.indices["capitulo_"+app.$route.params.id]) + parseInt(paginaFinal);

                    setTimeout(function () {
                        app.$refs.mySwiper.swiper.slideTo(slide, 500, false);
                        var activeSlide = app.$refs.mySwiper.swiper.slides[app.$route.params.pagina - 1];
                        var nextSlide = app.$refs.mySwiper.swiper.slides[app.$route.params.pagina];

                        var parsed = JSON.stringify([activeSlide.getAttribute('pagina_id'), nextSlide.getAttribute('pagina_id')]);

                        if(parsed != undefined){
                            localStorage.setItem('currentPages', parsed);
                        }

                    }, 2000);

                    app.preloading = false;

                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });

            document.addEventListener("fullscreenchange", function() {
                app.fullscreenData = !app.fullscreenData;
            });

        }
    }
</script>
