<template>
    <div>
        <div class="md-layout md-alignment-top-right">
            <md-button class="custom-button" @click="$router.back()">
                <span v-if="idioma.abreviacion == 'ES'">< Volver</span>
                <span v-if="idioma.abreviacion == 'EN'">< Back</span>

            </md-button>
        </div>
        <div class="md-layout md-gutter md-alignment-top-center">
            <div class="md-layout-item md-size-70 md-layout md-gutter md-alignment-top-center">
                <div class="md-layout-item md-alignment-top-center md-xsmall-size-100 md-size-50 form-container" v-if="!enviado">
                    <p class="align-left">
                        <span v-if="idioma.abreviacion == 'ES'">ENVIAR A UN AMIGO</span>
                        <span v-if="idioma.abreviacion == 'EN'">SEND TO A FRIEND</span>
                    </p>
                    <h4 class="align-left">
                        <span v-if="idioma.abreviacion == 'ES'">POR FAVOR COMPLETE LOS SIGUIENTES CAMPOS</span>
                        <span v-if="idioma.abreviacion == 'EN'">PLEASE COMPLETE THE FOLLOWING FIELDS</span>

                    </h4>
                    <p>
                        <input type="text" name="nombre" :placeholder="getPlaceholder('nombre')" v-model="email.nombre" />
                        <span class="error" v-if="errors.nombre != ''">{{ errors.nombre }}</span>
                    </p>
                    <p>
                        <input type="text" name="nombre_amigo" :placeholder="getPlaceholder('nombre_amigo')" v-model="email.nombre_amigo" />
                        <span class="error" v-if="errors.nombre_amigo != ''">{{ errors.nombre_amigo }}</span>
                    </p>
                    <p>
                        <input type="email" name="email_amigo" :placeholder="getPlaceholder('email_amigo')" v-model="email.email_amigo" />
                        <span class="error" v-if="errors.email_amigo != ''">{{ errors.email_amigo }}</span>
                    </p>
                    <p>
                        <textarea name="mensaje" rows="10" v-model="email.mensaje"></textarea>
                        <span class="error" v-if="errors.mensaje != ''">{{ errors.mensaje }}</span>
                    </p>
                    <p class="align-left">
                        <md-button class="custom-button" @click="enviarEmail" v-if="!enviando">
                            <span v-if="idioma.abreviacion == 'ES'">ENVIAR</span>
                            <span v-if="idioma.abreviacion == 'EN'">SEND</span>
                        </md-button>
                        <md-progress-spinner class="md-accent" :md-stroke="3" md-mode="indeterminate" v-else></md-progress-spinner>
                    </p>
                </div>
                <div class="md-layout-item md-layout md-alignment-top-center md-size-60 form-container" v-else>
                    <div class="md-layout-item md-size-30 md-small-size-100">
                        <img :src="baseUrl + '/storage/general/envio_email_tilde.png'" />
                    </div>
                    <div class="md-layout-item">
                        <p class="align-left">TU MENSAJE HA SIDO ENVIADO</p>
                        <h4 class="align-left">ESPERAMOS QUE TU AMIGO LO DISFRUTE MUCHO.</h4>
                        <h4 class="align-left">MUCHAS GRACIAS.</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<style lang="scss" scoped>
    .md-tabs{
        width: 100%;
        height: 100%!important;
    }
    .md-tabs-container{
        height: 100%!important;
    }
    .form-container{
        text-align: center;
    }
    .form-container .align-left{
        text-align: left;
    }
    input,
    textarea{
        max-width: 100%;
    }
    .error{
        color: red!important;
    }
</style>

<script>
    export default {
        name: 'TodasPaginas',
        mixins: [window.myMixin],
        data: () => ({
            pagina: null,
            email: {
                nombre: null,
                nombre_amigo: null,
                email_amigo: null,
                mensaje: null
            },
            errors: {
                nombre: '',
                nombre_amigo: '',
                email_amigo: '',
                mensaje: ''
            },
            enviando: false,
            enviado: false,
            idioma: null
        }),
        methods: {
            enviarEmail(){
                var app = this;

                app.errors.nombre = '';
                app.errors.nombre_amigo = '';
                app.errors.email_amigo = '';
                app.errors.mensaje = '';

                app.enviando = true;

                var enviar = true;

                console.log(enviar);

                if(app.email.nombre == '' || app.email.nombre == null || app.email.nombre == undefined){
                    if(app.idioma.abreviacion == 'ES'){
                        app.errors.nombre = 'Por favor, ingresá tu nombre';
                    }
                    if(app.idioma.abreviacion == 'EN'){
                        app.errors.nombre = 'Please, write your name';
                    }
                    enviar = false;
                }

                if(app.email.nombre_amigo == '' || app.email.nombre_amigo == null || app.email.nombre_amigo == undefined){
                    if(app.idioma.abreviacion == 'ES'){
                        app.errors.nombre_amigo = 'Por favor, ingresá el nombre de tu amigo';
                    }
                    if(app.idioma.abreviacion == 'EN'){
                        app.errors.nombre_amigo = 'Please, write your friend\'s name';
                    }
                    enviar = false;
                }

                if(app.email.email_amigo == '' || app.email.email_amigo == null || app.email.email_amigo == undefined){
                    if(app.idioma.abreviacion == 'ES'){
                        app.errors.email_amigo = 'Por favor, el email de tu amigo';
                    }
                    if(app.idioma.abreviacion == 'EN'){
                        app.errors.email_amigo = 'Please, write your friend\'s email';
                    }
                    enviar = false;
                } else {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if(!re.test(String(app.email.email_amigo).toLowerCase())){
                        if(app.idioma.abreviacion == 'ES'){
                            app.errors.email_amigo = 'Por favor, escribí un email válido';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            app.errors.email_amigo = 'Please, write a valid email';
                        }
                        enviar = false;
                    }

                }

                if(app.email.mensaje == '' || app.email.mensaje == null || app.email.mensaje == undefined){
                    if(app.idioma.abreviacion == 'ES'){
                        app.errors.mensaje = 'Por favor, ingresá el mensaje';
                    }
                    if(app.idioma.abreviacion == 'EN'){
                        app.errors.mensaje = 'Please, write the message';
                    }
                    enviar = false;
                }

                console.log(enviar);

                if(enviar) {
                    axios.post(this.$data.baseUrl + '/sendEmail', {
                        email: app.email
                    })
                        .then(function (resp) {
                            if (resp.data.success) {
                                app.enviado = true;
                                app.enviando = false;
                            }
                        })
                        .catch(error => {
                            console.log("Error");
                            console.log(error);
                            app.enviando = false;
                        });
                } else {
                    app.enviando = false;
                }
            },
            getPlaceholder(slug){
                var app = this;
                switch (slug) {
                    case 'nombre':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'TU NOMBRE';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'YOUR NAME';
                        }
                        break;
                    case 'nombre_amigo':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'NOMBRE DE TU AMIGO';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'YOUR FIREND\'S NAME';
                        }
                        break;
                    case 'email_amigo':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'E-MAIL DE TU AMIGO';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'YOUR FIREND\'S EMAIL';
                        }
                        break;
                }
            }
        },
        beforeMount(){
            var app = this;

            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idioma = resp.data.current;

                    //var pageUrl = app.baseUrl + '/#/capitulos/' + app.$route.params.capituloId + '/paginas/' + app.$route.params.paginaId;

                    var pageUrl = app.mainUrl;
                    if(localStorage.getItem('sendUrl') != 'false' ) {
                        pageUrl += localStorage.getItem('sendUrl');
                    }

                    if(app.idioma.abreviacion == 'ES'){
                        app.email.mensaje = 'Hola\n' +
                            'Te recomiendo que veas éste link:\n' +
                            pageUrl + '\n\n';
                        if(localStorage.getItem('sendUrl') != 'false' ){
                            app.email.mensaje += 'También podés ver todo el sitio web en\n' +
                            app.mainUrl + '\n\n' +
                            'Saludos';
                        }

                    }
                    if(app.idioma.abreviacion == 'EN'){
                        app.email.mensaje = 'Hi!\n' +
                            'I recommend you see this link:\n' +
                            pageUrl + '\n\n';
                        if(localStorage.getItem('sendUrl') != 'false' ) {
                            app.email.mensaje += 'You can also see the entire website here\n' +
                                app.mainUrl + '\n\n' +
                                'Regards';
                        }
                    }

                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });

            if(app.$route.params.paginaId !== undefined) {
                axios.get(app.baseUrl + '/getPagina/' + app.$route.params.paginaId)
                    .then(function (resp) {
                        app.pagina = resp.data;
                    })
                    .catch(error => {
                        console.log("Error");
                        console.log(error);
                    });
            } else {
                app.$route.push('/');
            }
        }
    }
</script>