<template>
    <div class="page-container">
        <md-app md-mode="reveal" style="min-height: 100vh;">
            <md-app-toolbar class="md-primary" md-elevation="0">

                <span class="md-title">
                    <img id="main-logo" :src="mainUrl + '/storage/app/public/general/logo_summa.png'" />
                </span>
                <div class="md-toolbar-section-end">
                    <md-button
                        class="md-icon-button md-accent toolbar-button"
                        v-for="(idioma, index) in idiomas.idiomas"
                        :key="index"
                        :class="{'md-active': idioma.id == idiomas.current.id, 'mobile-hide': isActive}"
                        @click="setLang(idioma.id)"
                        :title="idioma.abreviacion == 'ES' ? 'Español' : 'English'"
                    >
                        {{ idioma.abreviacion }}
                    </md-button>
                    <md-button class="md-icon-button md-accent toolbar-button" @click="shareButtons" :title="getTitle('share')">
                        <md-icon>share</md-icon>
                    </md-button>
                    <div class="share-buttons md-layout md-alignment-center-center" v-bind:class="isActive ? 'show' : 'hide'">
                        <md-icon>keyboard_arrow_right</md-icon>
                        <md-button class="md-icon-button no-border md-accent" @click="shareOn('facebook')" :title="getTitle('facebook')">
                            <i class="fab fa-facebook-f"></i>
                        </md-button>
                        <md-button class="md-icon-button no-border md-accent" @click="shareOn('twitter')" :title="getTitle('twitter')">
                            <i class="fab fa-twitter"></i>
                        </md-button>
                        <md-button class="md-icon-button no-border md-accent" @click="sendEmail($route.params.id)" v-if="$route.name !== 'EmailComponent'" :title="getTitle('email')">
                            <i class="far fa-envelope"></i>
                        </md-button>
                    </div>
                </div>

            </md-app-toolbar>

            <md-app-content>

                <router-view name="IndexComponent"></router-view>
                <router-view></router-view>

                <!--
                <md-bottom-bar class="custom-bottom-bar">
                    <p><md-icon>copyright</md-icon> 2018 - BALKO All Right Reserved</p>
                </md-bottom-bar>
                -->
            </md-app-content>
        </md-app>
    </div>
</template>

<style lang="scss" scoped>

    .show{
        display: flex;
    }
    .hide{
        display: none;
    }

    .md-active{
        background: #63574b;
        color: #fff!important;
    }

    .toolbar-button{
        margin-right: 5px!important;
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    @media all and (max-width: 480px){
        .mobile-hide{
            display: none!important;
        }
    }
</style>

<script>
    import IndexComponent from './IndexComponent.vue';
    import CapituloComponent from './CapituloComponent.vue';
    import TodosCapitulosComponent from './TodosCapitulosComponent.vue';
    import BuscadorComponent from './BuscadorComponent.vue';
    import EmailComponent from './EmailComponent.vue';

    import VueRouter from 'vue-router';

    window.Vue.use(VueRouter);

    const routes = [
        {
            path: '/',
            components: {
                IndexComponent: IndexComponent
            },
            name: 'IndexComponent'
        },
        {
            path: '/capitulos/:id/paginas/:pagina?',
            component: CapituloComponent,
            name: 'CapituloComponent'
        },
        {
            path: '/tomos/:id/capitulos',
            component: TodosCapitulosComponent,
            name: 'TodosCapitulosComponent'
        },
        {
            path: '/capitulos/:id/buscador/:pagina?',
            component: BuscadorComponent,
            name: 'BuscadorComponent'
        },
        {
            path: '/email',
            component: EmailComponent,
            name: 'EmailComponent'
        },
    ];

    const router = new VueRouter({ routes });

    export default {
        router,
        name: 'FrontendComponent',
        mixins: [window.myMixin],
        data: () => ({
            isActive: false,
            currentPages: [],
            idiomas: []
        }),
        methods: {
            getTitle(action){
                var app = this;
                if(app.idiomas.current != undefined) {
                    switch (action) {
                        case 'share':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Compartir';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Share';
                            }
                            break;
                        case 'facebook':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Compartir en Facebook';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Share on Facebook';
                            }
                            break;
                        case 'twitter':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Compartir en Twitter';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Share on Twitter';
                            }
                            break;
                        case 'email':
                            if (app.idiomas.current.abreviacion == 'ES') {
                                return 'Enviar a un amigo';
                            }
                            if (app.idiomas.current.abreviacion == 'EN') {
                                return 'Send to a friend';
                            }
                            break;
                    }
                }
            },
            shareButtons(){
                var app = this;
                if(app.isActive){
                    app.isActive = false;
                } else {
                    app.isActive = true;
                }
            },
            shareOn(social){
                var app = this;
                var currentPages = localStorage.getItem("currentPages");

                if(currentPages != null){
                    app.currentPages = JSON.parse(currentPages);
                }

                //var url = app.baseUrl;

                var url = 'http://vespamedia.net/clientes/balko/';

                if(social == 'facebook'){
                    window.open('https://www.facebook.com/sharer/sharer.php?u='+url, '_blank');
                }

                if(social == 'twitter'){
                    window.open('https://twitter.com/home?status='+url, '_blank');
                }
            },
            sendEmail(capitulo_id){
                var app = this;

                /*var currentPages = localStorage.getItem("currentPages");

                if(currentPages != null){
                    app.currentPages = JSON.parse(currentPages);
                }*/

                if(app.$route.name !== 'IndexComponent' && app.$route.name !== 'BuscadorComponent' ){
                    localStorage.setItem('sendUrl', app.$route.path);
                } else {
                    localStorage.setItem('sendUrl', false);
                }

                //app.$router.push('/email/'+capitulo_id+'/'+app.currentPages[0]);
                app.$router.push('/email');
            },
            setLang(idiomaId){
                var app = this;
                axios.post(this.$data.baseUrl + '/setLang', {
                    id: idiomaId
                })
                    .then(function (resp) {
                        if(app.$route.name !== 'CapituloComponent'){
                            app.$router.go();
                        } else {
                            document.location.href = app.baseUrl + '/#/capitulos/'+app.$route.params.id+'/paginas';
                            app.$router.go();
                            //app.$router.go(app.baseUrl + '/capitulos/'+app.$route.params.id+'/paginas');
                        }
                    })
                    .catch(error => {
                        console.log("Error");
                        console.log(error);
                    });
            }
        },
        beforeMount(){
            var app = this;
            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idiomas = resp.data;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });
        }
    }
</script>