<template>
    <div id="home" class="md-layout md-gutter md-alignment-center-center tomos-container">
        <div class="main-swiper-container">
            <swiper :options="swiperOption" ref="mySwiper">

                <swiper-slide
                    v-for="(tomo, index) in tomos"
                    :key="index"

                >
                    <div class="md-layout md-layout-item">
                        <div class="md-layout-item md-size-100 thumbnail-container">
                            <router-link :to="'/tomos/'+tomo.id+'/capitulos'">
                                <img :src="mainUrl + tomo.portada" v-if="idioma.abreviacion == 'ES'">
                                <img :src="mainUrl + tomo.portada_ingles" v-if="idioma.abreviacion == 'EN'">
                            </router-link>
                        </div>
                        <div class="md-layout-item md-size-100 titulo-tomo">
                            <p @click="$router.push('/tomos/'+tomo.id+'/capitulos')" v-if="idioma.abreviacion == 'ES'">
                                TOMO {{ index + 1 }}
                            </p>
                            <p @click="$router.push('/tomos/'+tomo.id+'/capitulos')" v-if="idioma.abreviacion == 'EN'">
                                VOLUME {{ index + 1 }}
                            </p>
                            <p @click="$router.push('/tomos/'+tomo.id+'/capitulos')" >
                                <strong v-if="idioma.abreviacion == 'ES'">{{ tomo.nombre_espanol }}</strong>
                                <strong v-if="idioma.abreviacion == 'EN'">{{ tomo.nombre_ingles }}</strong>
                            </p>
                        </div>
                    </div>
                </swiper-slide>


            </swiper>
            <div class="swiper-button-prev" slot="button-prev">
                <md-icon class="md-size-3x">keyboard_arrow_left</md-icon>
            </div>
            <div class="swiper-button-next" slot="button-next">
                <md-icon class="md-size-3x">keyboard_arrow_right</md-icon>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

    .md-app {
        max-height: 400px;
        border: 1px solid rgba(#000, .12);
    }

    .main-swiper-container{
        width: 95%;
        /*margin-top: -32px;
        overflow-y: visible!important;*/
    }

    .swiper-container{
        width: 100%;
    }

    .swiper-wrapper{
        width: 100%!important;
        max-height: 475px!important;
    }

    .swiper-wrapper,
    .sliders-container{
        width: 90%!important;
        margin: 0 auto!important;
    }

    /*.swiper-slide{
        width: auto!important;
        height: auto!important;
    }*/

    .titulo-tomo{
        margin-top: 10px;
    }

    .tomos-container{
        height: 100%;
        width: 95%;
        margin: 0 auto;
    }

    .tomos-container img{
        max-height: 400px!important;
        max-width: 80%;
        margin-left: 10%;
        border: 1px solid #000;
        border-radius: 2px;
    }

    .tomos-container p{
        font-size: 22px;
        margin-bottom: 5px;
        text-transform: uppercase;
        cursor: pointer;
        padding-left: 10%;
    }

    .tomos-container p strong{
        font-size: 24px;
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-card{
        margin: 30px;
    }

    @media all and (max-width: 750px){
        .main-swiper-container{
            width: 75%;
        }
        .swiper-container{
            width: 100%;
        }
        .swiper-button-prev{
            left: -10px;
        }
        .swiper-button-next{
            right: -10px;
        }

    }

    @media all and (max-width: 750px){
        .swiper-slide {
            max-width: 80%;
            margin-left: 10%;
        }
    }

    @media all and (min-width: 1440px){
        .swiper-slide{
            margin: 0 5px;
        }
    }
</style>

<script>
    export default {
        name: 'FrontendIndex',
        mixins: [window.myMixin],
        data: () => ({
            swiperOption: {
                slidesPerView: 4,
                slidesPerColumn: 1,
                slidesPerGroup: 4,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },
                breakpoints: {
                    1024: {
                        slidesPerView: 3,
                        slidesPerColumn: 1,
                        slidesPerGroup: 3,
                    },
                    800: {
                        slidesPerView: 2,
                        slidesPerColumn: 1,
                        slidesPerGroup: 2,
                    },
                    750: {
                        slidesPerView: 1,
                        slidesPerColumn: 1,
                        slidesPerGroup: 1,
                    }
                },
                //lazy: true
            },
            tomos: [],
            idioma: null
        }),
        methods: {
            getTomos(){
                var app = this;
                axios.get(this.$data.baseUrl + '/tomos')
                    .then(function (resp) {
                        app.tomos = resp.data;
                    })
                    .catch(error => {
                        console.log("Error");
                        console.log(error);
                    });
            }
        },
        computed: {
            swiper() {
                var app = this;
                return app.$refs.mySwiper;
            }
        },
        beforeMount(){
            var app = this;

            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idioma = resp.data.current;
                    app.getTomos();
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });
        }
    }
</script>