<template>
    <div class="full-height scrolleable">
        <div class="md-layout md-topbar-capitulos">
            <div id="topbar-medium" class="md-layout md-alignment-top-left">
                <div class="md-layout md-layout-item buttons-header-container md-medium-size-85 md-large-size-85 md-xsmall-size-100 md-small-size-80 md-alignment-top-left">
                    <md-button class="md-icon-button" :to="'/capitulos/'+capitulos[0].id+'/buscador'" :title="getTitle('buscador')">
                        <img :src="mainUrl + '/storage/app/public/general/icono_busqueda.png'" />
                    </md-button>
                    <md-button class="custom-button" :class="currentPage == 1 ? 'active' : ''" @click="currentPage = 1" :title="getTitle('capitulos')">
                        <span v-if="idioma.abreviacion == 'ES'">TODOS LOS CAPÍTULOS</span>
                        <span v-if="idioma.abreviacion == 'EN'">ALL CHAPTERS</span>
                    </md-button>
                    <md-button class="custom-button" :class="currentPage == 2 ? 'active' : ''" @click="currentPage = 2" :title="getTitle('favoritos')">
                        <span v-if="idioma.abreviacion == 'ES'">FAVORITOS</span>
                        <span v-if="idioma.abreviacion == 'EN'">FAVORITES</span>
                    </md-button>
                    <div class="md-layout-item md-size-30 md-xsmall-size-100 breadcrumb">
                        <span class="breadcrumb-item" v-if="idioma.abreviacion == 'ES'">{{ tomo.nombre_espanol }}</span>
                        <span class="breadcrumb-item" v-if="idioma.abreviacion == 'EN'">{{ tomo.nombre_ingles }}</span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </div>
                </div>

                <div class="md-layout md-layout-item md-xsmall-size-100 md-small-size-20 md-size-15 md-alignment-top-right">
                    <md-button class="custom-button" @click="$router.back()" :title="getTitle('volver')">
                        <span v-if="idioma.abreviacion == 'ES'">
                            < VOLVER
                        </span>
                        <span v-if="idioma.abreviacion == 'EN'">
                            <md-icon>keyboard_arrow_left</md-icon> RETURN
                        </span>
                    </md-button>
                </div>
            </div>
            <div id="topbar-small" class="md-layout md-alignment-top-center">
                <div class="md-layout md-layout-item md-size-100 md-gutter md-alignment-center-center">
                    <md-button class="md-icon-button" :to="'/capitulos/'+capitulos[0].id+'/buscador'" :title="getTitle('buscador')">
                        <img :src="mainUrl + '/storage/app/public/general/icono_busqueda.png'" />
                    </md-button>
                    <md-button class="custom-button" @click="$router.back()" :title="getTitle('volver')">
                        <span v-if="idioma.abreviacion == 'ES'">
                            < VOLVER
                        </span>
                    <span v-if="idioma.abreviacion == 'EN'">
                            <md-icon>keyboard_arrow_left</md-icon> RETURN
                        </span>
                </md-button>
                </div>
                <div class="md-layout md-layout-item md-size-100 md-gutter md-alignment-center-center">
                    <md-button class="custom-button" :class="currentPage == 1 ? 'active' : ''" @click="currentPage = 1" :title="getTitle('capitulos')">
                        <span v-if="idioma.abreviacion == 'ES'">TODOS LOS CAPÍTULOS</span>
                        <span v-if="idioma.abreviacion == 'EN'">ALL CHAPTERS</span>
                    </md-button>
                    <md-button class="custom-button" :class="currentPage == 2 ? 'active' : ''" @click="currentPage = 2" :title="getTitle('favoritos')">
                    <span v-if="idioma.abreviacion == 'ES'">FAVORITOS</span>
                    <span v-if="idioma.abreviacion == 'EN'">FAVORITES</span>
                </md-button>
                </div>
            </div>
        </div>

        <div class="md-layout md-gutter md-alignment-center-center capitulos-content full-height">
            <div class="md-layout-item paginas-container md-gutter md-layout md-alignment-top-center" v-if="currentPage == 1">
                <div class="md-layout-item md-layout page-container" v-for="(capitulo, index) in capitulos" :key="index" v-if="capitulo.paginas.length">
                    <div class="md-layout-item md-size-100">
                        <img class="capitulo-thumbnail" @click="$router.push('/capitulos/'+capitulo.id+'/paginas')" :src="mainUrl + capitulo.imagen" v-if="idioma.abreviacion == 'ES'">
                        <img class="capitulo-thumbnail" @click="$router.push('/capitulos/'+capitulo.id+'/paginas')" :src="mainUrl + capitulo.imagen_ingles" v-if="idioma.abreviacion == 'EN'">
                    </div>
                    <div class="md-layout-item md-size-100">
                        <p v-if="idioma.abreviacion == 'ES'">
                            <a @click="setFavorito(index)" class="favorito-link" :class="isFavorito(index) ? 'favorito' : ''"><md-icon>star</md-icon></a> Capítulo {{ capitulo.orden }}
                        </p>
                        <p v-if="idioma.abreviacion == 'EN'">
                            <a @click="setFavorito(index)" class="favorito-link" :class="isFavorito(index) ? 'favorito' : ''"><md-icon>star</md-icon></a> Chapter {{ capitulo.orden }}
                        </p>
                        <p>
                            <strong v-if="idioma.abreviacion == 'ES'">{{ capitulo.titulo_espanol }}</strong>
                            <strong v-if="idioma.abreviacion == 'EN'">{{ capitulo.titulo_ingles }}</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="md-layout-item" v-if="currentPage == 2">
                <div v-if="capitulos_favoritos.length == 0">
                    <md-empty-state
                            md-icon="highlight_off"
                            md-label="Aún no tienes ningún favorito marcado."
                            md-description="Intenta añadir alguno con el símbolo de la estrella."
                            v-if="idioma.abreviacion == 'ES'"
                    >

                        <md-button @click="currentPage = 1">Ver capítulos</md-button>
                    </md-empty-state>

                    <md-empty-state
                            md-icon="highlight_off"
                            md-label="You do not have any marked favorites chapter yet."
                            md-description="Try adding one with the star symbol."
                            v-if="idioma.abreviacion == 'EN'"
                    >

                        <md-button @click="currentPage = 1">Look chapters</md-button>
                    </md-empty-state>
                </div>
                <div class="md-layout md-gutter md-alignment-center-center paginas-container">
                    <div class="md-layout-item md-layout page-container md-xsmall-size-40 md-small-size-20 md-medium-size-20" v-for="(capituloIndex, index) in capitulos_favoritos" :key="index">

                        <div class="md-layout-item md-size-100">
                            <img class="capitulo-thumbnail" @click="$router.push('/capitulos/'+capitulos[capituloIndex].id+'/paginas')" :src="mainUrl + capitulos[capituloIndex].imagen">
                        </div>
                        <div class="md-layout-item md-size-100">
                            <p>
                                <a @click="removeFavorito(capituloIndex)"><md-icon>close</md-icon></a> Capítulo {{ capitulos[capituloIndex].orden }}
                            </p>
                            <p>
                                <strong v-if="idioma.abreviacion == 'ES'">{{ capitulos[capituloIndex].nombre_espanol }}</strong>
                                <strong v-if="idioma.abreviacion == 'EN'">{{ capitulos[capituloIndex].nombre_ingles }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <md-snackbar :md-position="'center'" :md-active.sync="showSnackbar">
                <span>Capítulo agregado a favoritos</span>
                <md-button class="md-primary" @click="showSnackbar = false">Cerrar</md-button>
            </md-snackbar>

        </div>
    </div>
</template>

<style lang="scss" scoped>
    .md-icon-button{
        margin: 6px 8px!important;
    }
    .md-topbar-capitulos{
        padding: 0 50px;
    }
    .md-tabs{
        width: 100%;
        height: 100%!important;
    }
    .md-tabs-container{
        height: 100%!important;
    }
    .active{
        background: #63574b!important;
        color: #ffffff!important;
    }
    .capitulos-content{
        height: 100%;
    }
    .paginas-container{
        margin-top: -120px!important;
    }
    .page-container{
        margin: 15px 0;
        max-width: calc(15% - 1px);
    }
    .favorito md-icon,
    .favorito i{
        color: red!important;
    }
    .favorito-link:hover{
        box-shadow: transparent;
    }
    .capitulo-thumbnail{
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 2px;
    }

    .no-wrap{
        flex-wrap: nowrap!important;
    }
    .breadcrumb{
        margin-top: 15px;
    }
    #topbar-small{
        display: none;
    }
    @media all and (max-width: 480px){
        .paginas-container{
            margin-top: 0px!important;
            display: block;
        }
        .capitulos-content {
            align-items: flex-start!important;
        }
        .page-container{
            margin: 15px auto;
            max-width: 100% !important;
            width: 50%;
        }
    }

    @media all and (max-width: 700px) {
        #topbar-small{
            display: flex;
        }
        #topbar-medium{
            display: none;
        }
        .md-topbar-capitulos{
            padding: 0!important;
        }
    }

    @media all and (max-width: 960px) {
        .page-container{
            max-width: calc(15% - 1px);
        }
    }

    @media all and (max-width: 1024px){
        .breadcrumb{
            display: none;
        }
    }
    /*@media all and (min-width: 1400px) and (max-width: 1700px){
        .buttons-header-container{
            min-width: 30%;
            max-width: 30%;
            flex: 0 1 30%;
        }
    }*/
</style>

<script>
    export default {
        name: 'Todascapitulos',
        mixins: [window.myMixin],
        data: () => ({
            swiperOption: {
                capitulotion: {
                    el: '.swiper-capitulotion',
                    type: 'fraction'
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            },
            tomo: null,
            capitulos: [],
            capitulos_favoritos: [],
            showSnackbar: false,
            currentPage: 1,
            idioma: null
        }),
        methods: {
            setFavorito(index){
                var app = this;
                if(app.capitulos_favoritos.indexOf(index) === -1) {
                    app.capitulos_favoritos.push(index);
                    app.updateFavoritos();
                }
            },
            removeFavorito(capitulo){
                var app = this;
                var i = app.capitulos_favoritos.indexOf(capitulo);
                app.capitulos_favoritos.splice(i, 1);
                app.updateFavoritos();
            },
            updateFavoritos(){
                var app = this;
                const parsed = JSON.stringify(app.capitulos_favoritos);
                localStorage.setItem('capitulosFavoritos', parsed);
            },
            isFavorito(index){
                var app = this;
                return app.capitulos_favoritos.indexOf(index) !== -1;
            },
            getTitle(action){
                var app = this;
                switch (action) {
                    case 'buscador':
                        if (app.idioma.abreviacion == 'ES') {
                            return 'Buscar';
                        }
                        if (app.idioma.abreviacion == 'EN') {
                            return 'Search';
                        }
                        break;
                    case 'capitulos':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'Todos los capítulos';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'All chapters';
                        }
                        break;
                    case 'favoritos':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'Favoritos';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'Favorites';
                        }
                        break;
                    case 'volver':
                        if(app.idioma.abreviacion == 'ES'){
                            return 'Volver';
                        }
                        if(app.idioma.abreviacion == 'EN'){
                            return 'Return';
                        }
                        break;
                }
            },
        },
        beforeMount(){
            var app = this;

            axios.get(this.$data.baseUrl + '/getLangs')
                .then(function (resp) {
                    app.idioma = resp.data.current;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });

            axios.get(app.baseUrl + '/tomos/'+app.$route.params.id)
                .then(function (resp) {
                    app.tomo = resp.data;
                    app.capitulos = resp.data.capitulos;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });


            /*axios.get(app.baseUrl + '/tomos/'+app.$route.params.id+'/capitulos')
                .then(function (resp) {
                    app.capitulos = resp.data;
                })
                .catch(error => {
                    console.log("Error");
                    console.log(error);
                });*/

            var capitulosFavoritos = localStorage.getItem("capitulosFavoritos");

            if(capitulosFavoritos != null){
                app.capitulos_favoritos = JSON.parse(localStorage.capitulosFavoritos);
                console.log(app.capitulos_favoritos);
            }
        }
    }
</script>
